div.x-panel {
	/*background: #d6d6d6;*/
	background: white;
}
div#mywrapper{
	width:100%;
	position:absolute;
	left : 0px;
	top: 127px;
}
div#x-toolbar {	
	background:#257EC5;
	height:29px;
	width:100%
}
div#wrapper #tree{
	float:left;
	width:50%;
	height:600px;
	overflow-x: scroll;
	overflow-y: scroll;
}
div#wrapper #tree .x-div{
	cursor: pointer;
}
div#wrapper #tree .x-div:hover{
	color:blue;
}
div#wrapper #tree .x-div.selected{
	color:blue;
}
div#wrapper #tree ul{
	list-style:none;
	list-style-image:initial;
	list-style-position:initial;
	font-size:13pt;	
}
div#wrapper #tree li div{
	white-space:nowrap;
}

div#wrapper #grid{
	float:right;
	width:50%;
	height:600px;
	overflow-x: scroll;
	overflow-y: scroll;
}

div#wrapper #grid  td.value input{
	width:98%;
}
div#wrapper #grid  td.value input.disabled{
	cursor:pointer;
}
div#wrapper #grid  td.name{
	width:315px;
}

div#wrapper #split{	

}
/************************/
 button.button{
	padding: 5px;
 }
 
.ul-node{
}
 .ul-node, .li-node{
	list-style:none;
	list-style-image:initial;
    list-style-position:initial;
    white-space:nowrap;
	
 }
 .x-icon{
	padding-left: 18px;
	padding-right: 0px;
	padding-top: 3px;
	padding-bottom: 3px;
	background-repeat: no-repeat;
	background-position: left center;	
 }
 .x-icon:hover{
	color:blue;
 }
 .x-icon.selected{
	color:blue;
 }
 .x-text{
 }
 .x-icon.plus{
	background-image: url("../images/p2/tree/x-icon-plus.gif"); 
	background-position: 0px 4px;
	cursor: pointer;
 }
 .x-icon.minus{
	background-image: url("../images/p2/tree/x-icon-minus.gif");
	background-position: 0px 4px;	
	cursor: pointer;
 }
 .x-icon.object{
	background-image: url("../images/p2/tree/x-icon-object.gif"); 
	cursor: pointer;
 }
 
 .x-icon.number{
	background-image: url("../images/p2/tree/x-icon-number.gif"); 
 }
  .x-icon.boolean{
	background-image: url("../images/p2/tree/x-icon-boolean.gif"); 
 }
 .x-icon.array{
	background-image: url("../images/p2/tree/x-icon-array.gif"); 
 }
 .x-icon.string{
	background-image: url("../images/p2/tree/x-icon-string.gif"); 
 }
  .x-icon.null{
	background-image: url("../images/p2/tree/x-icon-null.gif"); 
 }
 
 .x-icon.ebow{
	background-image: url("../images/p2/tree/x-icon-ebow.gif"); 
 }
 .x-icon.line{
	background-image: url("../images/p2/tree/x-icon-line2.gif"); 
 }
 .x-icon.ebow-end{
	background-image: url("../images/p2/tree/x-icon-ebow-end2.gif"); 
 }